
  {{title}}

  <shared-toolbar-toolbox [_disabledEdit]=this.disabledEdit [_disabledDelete]=this.disabledDelete
    (_newRegistro)="NewRegistter()"
    (_editRegistro)="edit()"
    (_deleteRegistro)="delete()"
    (_reLoad)="reload()"
    (_printExcel)="printExcel()"
    ></shared-toolbar-toolbox>



  <div class="container" >
      <div class="card-header">
        <p-table #dt
            [value]="rowData"
            sortMode="multiple"
            [(selection)]="selectedLider"
            [metaKeySelection]="metaKey"
            dataKey="idFunctionalLeader"
            [tableStyle]="{ 'min-width': '50rem' }"
            [loading]="loading"
            [lazy]="true"
            [scrollable]="true"
            [scrollHeight]="scrollHeight"

            [globalFilterFields]="['idFunctionalLeader', 'names']"
            (onRowSelect)="onSelectionChanged($event)"
            (onRowUnselect)="onSelectionChanged(undefined)"
            (onSort)="onSort($event)"
            (onFilter)="onFilter($event)"
            >
            <ng-template pTemplate="header">
                <tr class="head-style">
                    <th style="width: 4rem"></th>
                    <th pSortableColumn="idFunctionalLeader">
                        id
                        <p-sortIcon field="idFunctionalLeader" />
                        <p-columnFilter type="text" field="idFunctionalLeader" display="menu"  matchMode="equals"/>
                    </th>
                    <th pSortableColumn="names">
                        Nombres
                        <p-sortIcon field="names" />
                        <p-columnFilter type="text" field="names" display="menu" matchMode="contains"/>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" >
                    <td>
                        <p-tableRadioButton [value]="rowData" />
                    </td>
                    <td style="width: 150px;" >{{ rowData.idFunctionalLeader }}</td>
                    <td>{{ rowData.names }}</td>
                </tr>
            </ng-template>

        </p-table>
      </div>

      <div class="card-body">

      </div>
      <!-- <div class="card-footer">
        <p-paginator [rows]="5" [totalRecords]="200" (onPageChange)="onPageChange($event)"></p-paginator>

      </div> -->

    <div class="card-footer">
        <div class="paginator">
          <span class="label-item-por-page">Items por page: </span>
          <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows2" (ngModelChange)="onModelChange($event)" />
          <p-paginator [first]="first" [rows]="recordsPerPage" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
              currentPageReportTemplate="{first} - {last} de {totalRecords}" [showPageLinks]="true" [showFirstLastIcon]="true" ></p-paginator>

        </div>
    </div>

</div>











