{{ title }}

<div class="flex-container">
    <shared-toolbar-toolbox 
      [_disabledEdit]=this.disabledEdit 
      [_disabledChange]=this.disabledChange
      (_newRegistro)="NewRegistter()"
      (_editRegistro)="edit()"
      (_deleteRegistro)="delete()"
      (_changeStatus)="change()"
      (_reLoad)="reload()"
      (_printExcel)="printExcel()"
      ></shared-toolbar-toolbox>
    <ag-grid-angular
        style="width: 100%; height: 100%;"
        [class]="themeClass"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [enableCellTextSelection]=true
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        (paginationChanged)="onPaginationChanged($event)"
  
        [loadingCellRendererParams]="loadingCellRendererParams"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
  
        [gridOptions]="gridOptions"
        >
    </ag-grid-angular>
  </div>