  <div class="container" >
      <div class="card-header" >
        <p-table #dt
            [value]="rowData"
            sortMode="multiple"
            [(selection)]="selectedEntity"
            [metaKeySelection]="metaKey"
            dataKey={{this.dataKey}}
            [tableStyle]="{ 'min-width': '50rem' }"
            [loading]="loading"
            [lazy]="true"
            [scrollable]="true"
            [scrollHeight]="scrollHeight"

            [globalFilterFields]="this.globalFilterFields"
            (onRowSelect)="onSelectionChanged($event)"
            (onRowUnselect)="onSelectionChanged(undefined)"
            (onSort)="onSort($event)"
            (onFilter)="onFilter($event)"
            >
            <ng-template pTemplate="header">
                <tr class="head-style" >
                  <th style="width: 2rem"></th>
                  @for (object of this.propertiesGrid; track $index) {
                        <th pSortableColumn={{object.propertyColumn}}>
                            {{object.title}}
                            <p-sortIcon field={{object.propertyColumn}} />
                            <p-columnFilter type="text" field={{object.propertyColumn}} display="menu"  matchMode="equals"/>
                        </th>
                    }

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" >
                  <td >
                      <p-tableRadioButton [value]="rowData" />
                  </td>
                  @for (object of this.propertiesGrid; track $index) {
                    <td [ngStyle]="object.style" >{{ rowData[object.propertyColumn] }}</td>
                  }


                </tr>
            </ng-template>

        </p-table>
      </div>

      <div class="card-body">

      </div>
      <!-- <div class="card-footer">
        <p-paginator [rows]="5" [totalRecords]="200" (onPageChange)="onPageChange($event)"></p-paginator>

      </div> -->

    <div class="card-footer">
        <div class="paginator">
          <span class="label-item-por-page">Items por page: </span>
          <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows2" (ngModelChange)="onModelChange($event)" />
          <p-paginator [first]="first" [rows]="recordsPerPage" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
              currentPageReportTemplate="{first} - {last} de {totalRecords}" [showPageLinks]="true" [showFirstLastIcon]="true" ></p-paginator>

        </div>
    </div>

</div>

