<mat-card class="max-width">

  <mat-card-header style="margin-left: 5px;">
    <mat-card-title><h3>{{title}}</h3>  </mat-card-title>
  </mat-card-header>
  <div style="margin-bottom: 10px;"></div>

  <mat-card-content>


    <form  (keydown.enter)="$event.preventDefault()" [formGroup]="customForm">

      <div class="flex-container">
        <div style="flex-grow: 0;">
          <mat-form-field class="form-field">
            <mat-label>Codigo Almacen</mat-label>
            <input readonly="true" matInput formControlName="idAlmacen" placeholder="Codigo">
          </mat-form-field>

        </div>

      </div>

    <div class="flex-container">
      <div style="flex-grow: 1;">
        <mat-form-field class="form-field">
          <mat-label>Descripcion</mat-label>
          <input #myDescripcion matInput formControlName="dscAlmacen"  placeholder="Ingrese descipcion">
        </mat-form-field>
      </div>
    </div>


    <div class="flex-container">
      <div style="flex-grow: 1;">
        <mat-form-field class="form-field">
          <mat-label>ubicacion</mat-label>
          <input rows="5" matInput formControlName="ubicacion" placeholder="observacion">
        </mat-form-field>
      </div>
    </div>

    <div class="flex-container">
      <div style="flex-grow: 0;">
        <mat-form-field class="form-field">
          <mat-label>Estado</mat-label>
          <input  matInput formControlName="estado" placeholder="Estado">
        </mat-form-field>
      </div>
    </div>

    <br>
      <shared-toolbar-save-quit [_disabledSaveUpdate]="!customForm.valid" [_flagCreate]="_createRegister"
       (_save)="save()"
       (_update)="update()"
       (_quit)="quit($event)">
      </shared-toolbar-save-quit>

    </form>
  </mat-card-content>
</mat-card>

