<div class="flex-container">

  <div>
    <button [disabled]=!_disabledSelect matTooltip="Seleccionar" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
      (click)="select()">
      <mat-icon>playlist_add_check</mat-icon>
    </button>
  </div>

  <div>
    <button   matTooltip="Salir" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
      (click)="quit()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

</div>

