{{title}}


  <shared-toolbar-toolbox [_disabledEdit]=this.disabledEdit [_disabledDelete]=this.disabledDelete
    (_newRegistro)="NewRegistter()"
    (_editRegistro)="edit()"
    (_deleteRegistro)="delete()"
    (_reLoad)="reload()"
    (_printExcel)="printExcel()"
  ></shared-toolbar-toolbox>


  <app-grid-pagination-primeng-custom
      [flagReload]="this.flagReload"
      [propertiesGrid]="this.propertiesGrid"
      [controller]="this.controller"
      [event]="this.event"
      (_onSelectionChanged)="onSelectionChanged( $event )">
  </app-grid-pagination-primeng-custom>

